body {
    background-color: white;
    color: Black;
  
}
h1 {
    color: black;
    font-size: 40px;
    
}
table tr th {
    height: 50px;
    border-top: 1px solid grey;
    border-bottom: 2px solid black;
}
table tr:nth-child(2n+3) {
    background-color: silver;
}
